In [0]:
# http://pytorch.org/
from os import path
from wheel.pep425tags import get_abbr_impl, get_impl_ver, get_abi_tag
platform = '{}{}-{}'.format(get_abbr_impl(), get_impl_ver(), get_abi_tag())

accelerator = 'cu80' if path.exists('/opt/bin/nvidia-smi') else 'cpu'

!pip install -q http://download.pytorch.org/whl/{accelerator}/torch-0.3.0.post4-{platform}-linux_x86_64.whl torchvision
import torch

In [0]:
import numpy as np
import pandas as pd
import torch.nn as nn
import torch.nn.parallel
import torch.optim as optim
import torch.utils.data
from torch.autograd import Variable

In [0]:
movies=pd.read_csv('movies.dat',sep='::', header=None, engine='python',encoding='latin-1')

In [15]:
movies.head()

   0                                   1                             2
0  1                    Toy Story (1995)   Animation|Children's|Comedy
1  2                      Jumanji (1995)  Adventure|Children's|Fantasy
2  3             Grumpier Old Men (1995)                Comedy|Romance
3  4            Waiting to Exhale (1995)                  Comedy|Drama
4  5  Father of the Bride Part II (1995)                        Comedy

In [16]:
movies.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3883 entries, 0 to 3882
Data columns (total 3 columns):
0    3883 non-null int64
1    3883 non-null object
2    3883 non-null object
dtypes: int64(1), object(2)
memory usage: 91.1+ KB

In [0]:
users=pd.read_csv('users.dat',sep='::',header=None,engine='python',encoding='latin-1')

In [18]:
users.head()

   0  1   2   3      4
0  1  F   1  10  48067
1  2  M  56  16  70072
2  3  M  25  15  55117
3  4  M  45   7  02460
4  5  M  25  20  55455

In [0]:
ratings=pd.read_csv('ratings.dat',sep='::',header=None,engine='python',encoding='latin-1')

In [20]:
ratings.head()

   0     1  2          3
0  1  1193  5  978300760
1  1   661  3  978302109
2  1   914  3  978301968
3  1  3408  4  978300275
4  1  2355  5  978824291

In [0]:
training_set=pd.read_csv('u1.base', delimiter='\t')

In [23]:
training_set.head()

   1  1.1  5  874965758
0  1    2  3  876893171
1  1    3  4  878542960
2  1    4  3  876893119
3  1    5  3  889751712
4  1    7  4  875071561

In [0]:
training_set=np.array(training_set, dtype= 'int')

In [0]:
test_set=pd.read_csv('u1.test', delimiter='\t')

In [0]:
test_set=np.array(test_set, dtype= 'int')

In [0]:
#getting total users and movies
nb_users=int(max(max(training_set[:,0]),max(test_set[:,0])))
nb_movies=int(max(max(training_set[:,1]),max(test_set[:,1])))

In [31]:
nb_users

943

In [32]:
nb_movies

1682

In [0]:
#converting training_set and test_set to list
#users in lines and features in columns
def convert(data):
    new_data=[]
    for id_users in range(1,nb_users+1):
        id_movies=data[:,1][data[:,0]==id_users]
        id_ratings= data[:,2][data[:,0]==id_users]
        ratings = np.zeros(nb_movies)
        ratings[id_movies-1]= id_ratings
        new_data.append(list(ratings))
    return new_data
training_set= convert(training_set)
test_set= convert(test_set)

In [0]:
##converting to torch tensors
training_set= torch.FloatTensor(training_set)
test_set= torch.FloatTensor(test_set)

In [0]:
#constructing architecture of auto encoder
#using inheritence
class SAE(nn.Module):
  def __init__(self, ):
    super(SAE, self).__init__()
    self.fc1= nn.Linear(nb_movies , 25)
    self.fc2= nn.Linear(25, 12)
    self.fc3= nn.Linear(12, 25)
    self.fc4= nn.Linear(25, nb_movies)
    self.activation = nn.Sigmoid()
  def forward(self, x):
    x=self.activation(self.fc1(x))
    x=self.activation(self.fc2(x))
    x=self.activation(self.fc3(x))
    x=self.fc4(x)    #last layer no activation
    return x
sae= SAE()
criterion= nn.MSELoss()
optimizer= optim.RMSprop(sae.parameters(), lr=0.01, weight_decay= 0.5)

In [44]:
#Training
n_epochs=225
for epoch in range(1,n_epochs+1):
  train_loss=0
  s=0.    #no. of users rating at least 1 movie
  for id_user in range(nb_users):
    input= Variable(training_set[id_user]).unsqueeze(0)  #create batch as torch doesn't take single dim input vector
    target = input.clone()
    if torch.sum(target.data>0) > 0:
      output= sae.forward(input)
      target.require_grad= False
      output[target==0] = 0   #not counting unrated movies
      loss= criterion(output, target)
      mean_corrector= nb_movies/float(torch.sum(target.data >0) + 1e-10)
      loss.backward()      #direction
      train_loss+= np.sqrt(loss.data[0]*mean_corrector)
      s+=1.
      optimizer.step()        #intensity of updation
  print ('epoch: '+ str(epoch)+ ' '+ str(train_loss/s))

epoch: 1 0.9727046899674473
epoch: 2 0.9798302252696824
epoch: 3 0.9693332119458502
epoch: 4 0.9744958729370341
epoch: 5 0.9689651236982545
epoch: 6 0.9704900535953759
epoch: 7 0.9642330438186607
epoch: 8 0.9665403902358554
epoch: 9 0.9620947239056835
epoch: 10 0.9648763961643179
epoch: 11 0.9618907861487668
epoch: 12 0.962982212119985
epoch: 13 0.9585611061040789
epoch: 14 0.9644789963256566
epoch: 15 0.9596381759953139
epoch: 16 0.9661265019771612
epoch: 17 0.9580698872074519
epoch: 18 0.9608729091551164
epoch: 19 0.9576318810379613
epoch: 20 0.9586348819071934
epoch: 21 0.9544755943877478
epoch: 22 0.9549098385139864
epoch: 23 0.9522146541353239
epoch: 24 0.9528976601585006
epoch: 25 0.9494414399725603
epoch: 26 0.951180978503307
epoch: 27 0.9498363914531317
epoch: 28 0.9551807656158404
epoch: 29 0.9471474668228739
epoch: 30 0.9565654798803198
epoch: 31 0.9547278932151197
epoch: 32 0.9542470946622663
epoch: 33 0.9531122756088505
epoch: 34 0.9504487840552988
epoch: 35 0.9483424060136246
epoch: 36 0.9465010274342309
epoch: 37 0.9455239613571838
epoch: 38 0.9552176664755903
epoch: 39 0.9525215256248407
epoch: 40 0.9573028642087419
epoch: 41 0.954807005750442
epoch: 42 0.951437707426214
epoch: 43 0.9492466625813921
epoch: 44 0.9521327303536448
epoch: 45 0.9482717919464412
epoch: 46 0.9510750642058069
epoch: 47 0.9465582227326416
epoch: 48 0.9471343571586005
epoch: 49 0.944062863274014
epoch: 50 0.9466279174858552
epoch: 51 0.9456841826186518
epoch: 52 0.9410716971878946
epoch: 53 0.9402128085474729
epoch: 54 0.9419530839774639
epoch: 55 0.9390627670456398
epoch: 56 0.9399738406780798
epoch: 57 0.9389689060409311
epoch: 58 0.9387022272488064
epoch: 59 0.9372465703653076
epoch: 60 0.9377147268850231
epoch: 61 0.9462521399324713
epoch: 62 0.9527578971495985
epoch: 63 0.9466798853466849
epoch: 64 0.9498820462370786
epoch: 65 0.944739951695624
epoch: 66 0.9440208127427409
epoch: 67 0.9404495962805182
epoch: 68 0.9419477589476555
epoch: 69 0.9379706920132068
epoch: 70 0.939411454019249
epoch: 71 0.9365055904072787
epoch: 72 0.9375755854203695
epoch: 73 0.934449927016623
epoch: 74 0.9359094891112868
epoch: 75 0.9342014451557762
epoch: 76 0.9361690950238625
epoch: 77 0.933420513777297
epoch: 78 0.9362113430279982
epoch: 79 0.9380244409616916
epoch: 80 0.9375653279456766
epoch: 81 0.9335518907348743
epoch: 82 0.9325620106877213
epoch: 83 0.9330535829671623
epoch: 84 0.9327180318683206
epoch: 85 0.9368659387734852
epoch: 86 0.9308005099914812
epoch: 87 0.9307885865869644
epoch: 88 0.9305465124025288
epoch: 89 0.9302635788963084
epoch: 90 0.9294071912798155
epoch: 91 0.9294524215815377
epoch: 92 0.9281646679101376
epoch: 93 0.927831071724788
epoch: 94 0.9273604247853815
epoch: 95 0.9267900591200263
epoch: 96 0.9265469607830985
epoch: 97 0.9266981079295925
epoch: 98 0.9253768266763055
epoch: 99 0.9253296848861563
epoch: 100 0.9258893061970278
epoch: 101 0.9258269401880058
epoch: 102 0.924825075841256
epoch: 103 0.9246057899290396
epoch: 104 0.9241214712064785
epoch: 105 0.9248297404819638
epoch: 106 0.9235343411157741
epoch: 107 0.923444264086381
epoch: 108 0.9230936948800128
epoch: 109 0.9229870484226311
epoch: 110 0.9224066014749499
epoch: 111 0.9227341836452058
epoch: 112 0.9221387795196182
epoch: 113 0.92227708552643
epoch: 114 0.9216079262124581
epoch: 115 0.9218570812835346
epoch: 116 0.9208767423019453
epoch: 117 0.921108866603195
epoch: 118 0.9203188771631862
epoch: 119 0.9209608638723914
epoch: 120 0.9204257131413989
epoch: 121 0.920148390491336
epoch: 122 0.9198544716719509
epoch: 123 0.9202779579102537
epoch: 124 0.9240954449386375
epoch: 125 0.9276466122828338
epoch: 126 0.9245780893852493
epoch: 127 0.9241224862647431
epoch: 128 0.9219160674847807
epoch: 129 0.9214277177068764
epoch: 130 0.919883542826595
epoch: 131 0.9194386214687031
epoch: 132 0.9183914582685945
epoch: 133 0.9179290145737826
epoch: 134 0.9177246715797548
epoch: 135 0.9184347406210817
epoch: 136 0.9181464416831469
epoch: 137 0.917471331685022
epoch: 138 0.9174550262515007
epoch: 139 0.9167897287473651
epoch: 140 0.9171832290125547
epoch: 141 0.9163116648697379
epoch: 142 0.9165365301310875
epoch: 143 0.9159974204407016
epoch: 144 0.9159377563754282
epoch: 145 0.915491261030351
epoch: 146 0.915629555277977
epoch: 147 0.9157023817811566
epoch: 148 0.9152845973968381
epoch: 149 0.9150642678974444
epoch: 150 0.9149634364148821
epoch: 151 0.9145942250393897
epoch: 152 0.9144695033573415
epoch: 153 0.9139919195301631
epoch: 154 0.914112771145531
epoch: 155 0.9139701801422622
epoch: 156 0.9136693534441481
epoch: 157 0.9132651540755884
epoch: 158 0.9131335734754037
epoch: 159 0.9128574601371277
epoch: 160 0.912548845098492
epoch: 161 0.9123363125559666
epoch: 162 0.9124932117407594
epoch: 163 0.9125520309114278
epoch: 164 0.9117952756958021
epoch: 165 0.9121903207042148
epoch: 166 0.911380994497818
epoch: 167 0.9115520829702279
epoch: 168 0.9109174736030621
epoch: 169 0.9109338819932428
epoch: 170 0.9102856362105686
epoch: 171 0.9101496840986991
epoch: 172 0.9097473013582353
epoch: 173 0.9096923152305824
epoch: 174 0.90926084507232
epoch: 175 0.9092904481167797
epoch: 176 0.908599284535368
epoch: 177 0.9087165656318309
epoch: 178 0.9086773704070678
epoch: 179 0.9082057072737749
epoch: 180 0.9077079299292816
epoch: 181 0.9076184646576175
epoch: 182 0.9067657694645215
epoch: 183 0.9069674374135586
epoch: 184 0.9060709631998932
epoch: 185 0.9061240941662984
epoch: 186 0.9052116822531415
epoch: 187 0.9051854769159703
epoch: 188 0.9041666527544333
epoch: 189 0.904202798932204
epoch: 190 0.9030874796580297
epoch: 191 0.9031269066793434
epoch: 192 0.9018626000427636
epoch: 193 0.9021018756505906
epoch: 194 0.9006918786604062
epoch: 195 0.9007241759286846
epoch: 196 0.8992798753980173
epoch: 197 0.8991765347978339
epoch: 198 0.8979840286254169
epoch: 199 0.8976999511511263
epoch: 200 0.8967764120953495
epoch: 201 0.8965601421815212
epoch: 202 0.8955206144718499
epoch: 203 0.8950978042580611
epoch: 204 0.8943273106752587
epoch: 205 0.8936656097578015
epoch: 206 0.8930127625820373
epoch: 207 0.892471370996621
epoch: 208 0.8918876710224695
epoch: 209 0.8911383353370618
epoch: 210 0.8907902960550561
epoch: 211 0.8904084457402901
epoch: 212 0.8896108096420745
epoch: 213 0.8890434450297405
epoch: 214 0.8886693213495207
epoch: 215 0.8878902998984896
epoch: 216 0.8875182726975315
epoch: 217 0.8866395990459606
epoch: 218 0.8863015315233052
epoch: 219 0.8856919456106179
epoch: 220 0.8851092063474512
epoch: 221 0.8845941241809164
epoch: 222 0.8841518070189798
epoch: 223 0.883949971263616
epoch: 224 0.8831750700959035
epoch: 225 0.8824596024620563

In [45]:
test_loss=0
s=0.    #no. of users rating at least 1 movie
for id_user in range(nb_users):
    input= Variable(training_set[id_user]).unsqueeze(0)  #create batch as torch doesn't take single dim input vector
    target = Variable(test_set[id_user])
    if torch.sum(target.data>0) > 0:
      output= sae.forward(input)
      target.require_grad= False
      output[target==0] = 0   #not counting unrated movies
      loss= criterion(output, target)
      mean_corrector= nb_movies/float(torch.sum(target.data >0) + 1e-10)
      test_loss+= np.sqrt(loss.data[0]*mean_corrector)
      s+=1.
      optimizer.step()        #intensity of updation
print ('test_loss: '+ str(test_loss/s))

test_loss: 0.9415147210832776